@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --darkred:rgb(180, 10, 10);
    --darkblue: rgb(2, 2, 97);
}
::-webkit-scrollbar{
    width: 7px;
    background: #fff;
}
::-webkit-scrollbar-thumb{
    background:var(--darkred);
    border-radius: 10px;
}

@font-face {
    font-family:calligraphy-custom ;
    src: url(images/Satisfy-Regular.ttf);
}
@font-face {
    font-family:crayon-custom ;
    src: url(images/ColoredCrayons-7wPR.ttf);
}
@font-face {
    font-family:callycray-custom ;
    src: url(images/Quikers-YzXwL.otf);
}
body{
    background-color: #fff;
    overflow-x: hidden;
    background-image: url('images/peakpx.jpg');
    height: 100vh;
    width: 100vw;
    background-position: center;
    /* background-size: cover; */
    background-attachment: fixed;
    animation: backAni 3s ;
    overflow-x: hidden;
}
@keyframes backAni{
    from{
        background-position: left;
    }
    to{
        background-position: center;
    }
}
.large-header {
    position: absolute;
    }
    .large-header canvas {
        width: 100%;
        height: 100%;
    }
section{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.title h1{
    color: #000;
    font-size: 150px;
    font-family: 'Playfair Display', serif;
    margin-left: 45px;
}
.title h2{
    color: #000;
        font-size: 80px;
        margin-bottom: -50px;
        margin-left: 50px;

    }
.hackathon{
    font-family: crayon-custom;
    font-weight: 0;
    font-size: 120px;
    color:var(--darkred);
    transform: rotate(-8deg);
    margin-top: -68px;
    -webkit-text-stroke: 0.2px #000;    
}


.college{
    color: #0087d6;
     font-size: 30px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    margin-left: 2px;
    line-height: 28px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 80px;
    }
    .small{
        font-size: 23px;
    }

    .dept{
        font-size: 10px;
        color: grey;
        font-weight: normal;
        margin-top: -8px;
    }
.college_logo{
    width: 80px;
    position: absolute;
    top: 0;
    left: 3px;
}

  
  .glugLogo img{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 100px;

  }

          .typewriter {
            overflow: hidden;
            white-space: nowrap;
            letter-spacing: 0.15em;
            animation:
              typing 3s steps(40, end)
          }
  
          @keyframes typing {
            from { width: 0 }
            to { width: 100% }
          }
  







/* ======================================= */


.section2 {
    background-color: #979494c0;
    backdrop-filter: blur(3px);
    color: #000;
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;

}
.poster{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
}
.section2 h1 {
    font-size: 55px;
    padding:30px;
    color: var(--darkred);
}

 .section2  p{
    font-size: 28px;
    word-wrap: break-word;
    padding: 30px;
    text-align: justify;
}

.regbtn {
    background-color: var(--darkred);
    border-radius: 20px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 6px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    
}

.regbtn a{
    text-decoration: none;
    color: #fff;
}
.rules{
    padding: 30px;
}

.rules h3 {
    font-size: 35px;
    color: #000;

}

.rules ul{
    font-size: 23px;
    line-height: 1.8;
    padding: 10px 50px;

}

.regBtnSection{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0e0e0e93;
    backdrop-filter: blur(10px);
}
.regBtnSection a{
    background:#000;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 30px;
    text-decoration: none;

}













/*  ========================================================
                           phone resposive
    ======================================================== */
    @media only screen and (max-width: 600px) {
        .large-header  {
            display: none;
        }
        body {
            width: 100vw;
            height: 100vh;
            background-position: center;
              }
    
            .glugLogo img{
            width: 60px;  
            top: 10px;      
            } 
        .title h1{
            font-size: 60px;
            margin: 0;
            margin-top: -15px;
        }
        .title h2{
            font-size: 30px;
            margin: 0;
        }
        .hackathon{
            font-size: 40px;
            margin-top: -18px;
            
    }
    .college_logo{
        width: 50px;
        top: 13px;
    }
    .college {
        font-size: 18px;
        left: 50px;
        top: 10px;
        line-height: 18px;
    
    }
    .small{
        font-size: 14px;
    }
    .dept{
        font-size: 6px;
        margin-top: -5px;
    }

    .section2 {
        width: 100vw;
        margin: 0;
    
    }
    .section2 h1{
        font-size: 27px;
    }

    .section2 p{
        font-size: 15px;
        padding-top: 0;
    }
    .regBtnSection a{
        font-size: 20px;
    }
    .rules{
        padding: 5px;
    }
    .rules h3{
        font-size: 20px;
    }
    .rules ul{
        font-size: 15px;

    }
    }
    
    
    
    